body {
    background: #0957c5;
}


.frame {
    width: 90%;
    margin: 10% auto;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 60px;
    /* aumentei para comportar "Mostrar menos" */
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 0 25px;
    /* zera o padding vertical pra alinhar melhor */
    font-weight: 100;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    /* CORREÇÃO */
    align-items: center;
    /* alinha verticalmente */
    justify-content: center;
    /* alinha horizontalmente */
    white-space: nowrap;
    /* evita quebra de linha */
    box-shadow: inset 2px 2px 2px 0px rgba(252, 37, 230, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 5 */
.btn-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    /* evita quebrar linha ao mudar para 'Mostrar menos' */
    width: 230px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(94, 0, 96);
    background: linear-gradient(0deg, rgb(167, 15, 255) 0%, rgba(238, 31, 225, 0.736) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(94, 0, 96);
    box-shadow:
        -1px -1px 5px 0px #850785,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}